<%- include('_header.ejs') %>
<link rel="stylesheet" href="/estilos/camisas.css">

<h1 class="title">CAMISAS SK33R3</h1>

  <div class="container">
     
   
    <div class="card">
        <img src="imagenesproducto/6.png" alt="6">
        <h4>The Landing</h4>
        <p>Precio: 60.000 <br>
            Tallas: S/M/L</p>
        <a href="#">Añadir al carrito</a>
</div>
<div class="card">
    <img src="imagenesproducto/7.png" alt="7">
    <h4>Rapto de Psique</h4>
    <p>Precio: 60.000 <br>
        Tallas: S/M/L</p>
    <a href="#">Añadir al carrito</a>
</div>  
<div class="card">
    <img src="imagenesproducto/8.png" alt="8">
    <h4>Capilla Sixtina</h4>
    <p>Precio: 60.000 <br>
    Tallas: S/M/L</p>
<a href="#">Añadir al carrito</a>
</div>
    <div class="card">
    <img src="imagenesproducto/9.png" alt="9">
    <h4>Flor de Almendro</h4>
    <p>Precio: 60.000 <br>
        Tallas: S/M/L</p>
<a href="#">Añadir al carrito</a>
</div>
    <div class="card">
    <img src="imagenesproducto/Isabel_Van_Gogh-removebg-preview.png" alt="9">
    <h4>Flor de Almendro </h4>
    <p>Precio: 60.000 <br>
        Tallas: S/M/L</p>
    <a href="#">Añadir al carrito</a>
    </div>
<div class="card">
    <img src="imagenesproducto/10.png" alt="10">
    <h4>Creación de Adán </h4>
    <p>Precio: 70.000 <br>
        Tallas: S/M/L</p>
    <a href="#">Añadir al carrito</a>
</div>
<div class="card">
    <img src="imagenesproducto/1.jpg" alt="1">
    <h4>Bennington </h4>
      <p>$60.0000 <br>
      Talla S/M/L
    </p>
    
    <a href="#">Añadir al carrito</a>
</div>
<div class="card">
        <img src="imagenesproducto/2-removebg-preview.png" alt="2">
        <h4>Blue Öyster Cult</h4>
        <p>Precio: 50.000 <br>
        Tallas: S/M/L</p>
        <a href="#">Añadir al carrito</a>
</div>
<div class="card">
        <img src="imagenesproducto/3-removebg-preview.png" alt="3">
        <h4>Black Pink</h4>
        <p>Precio: 60.000 <br>
            Tallas: S/M/L</p>
        <a href="#">Añadir al carrito</a>
</div>
<div class="card">
        <img src="imagenesproducto/4-removebg-preview.png" alt="4">
        <h4>Avenged Sevenfold</h4>
        <p>Precio: 60.000 <br>
            Tallas: S/M/L</p>
        <a href="#">Añadir al carrito</a>
</div>
<div class="card">
        <img src="imagenesproducto/5-removebg-preview.png" alt="5">
        <h4>Imperium Barber</h4>
        <p>Precio: 50.000 <br>
            Tallas: S/M/L</p>
        <a href="#">Añadir al carrito</a>
</div>
    

<%- include('_footer.ejs') %>